@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');



/* DEFAULT CONFG */
* , *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
    
}


/* CORPO DO SITE */
html,body {
    width: 100vw;
    height: 100vh;
    background: #121214;
    font-family: 'Ubuntu';
    text-align: center;
    
    
}

@keyframes zoom {
    0% {
        scale: 1.073;
    }

    100% {
        scale: 2.000;
    }
}

/* MENU DE NAVEGAÇAO */
.navbar {
    background: #0b0b0c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: ease 0.8s;
      
}

.navbar-list {
    font-family: 'Ubuntu';
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin: 30px;
    padding: 0 50px;
    
}

.navbar-links {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    transition: all 0.3s ease;
}

.navbar-links:hover {
    color: #ffa600;
    transform: scale(1.073);
    transition: 0.4s ease;
}

.img-logo {
    height: 130px;
    width: 130px;
}

.img-logo:hover {
    transform: scale(1.073);
    transition: 0.4s ease;
}


/* PRIMARY SECTION */
.section-1 {
    background-image:url(images/img-fundo.svg);
    padding: 40vh 0;
    font-family: 'Ubuntu';
    transition: ease 0.8s;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 105%;
    
  
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    
}

.title-main {
 
    color: #fff;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    margin-bottom: 10px;
    
}

.title-name-logo {
    background: linear-gradient(90.52deg, #FF8A00 -15.14%, #D3A709 77.28%);
    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 500;
}

.btn-explore {
    margin-top: 10px;
    background: #00000077;
    color:rgb(196, 196, 196);
    border:  2px solid #A2A2A2;
    border-radius: 10px;
    font-family: 'Ubuntu';
    font-size: 1.5rem;
    width: 200px;
    height: 58px;
    cursor: pointer;
}

.btn-explore:hover {
    color: #ffa600;
    border:  2px solid#ffa600;
    transition: 0.4s ease;
    transform: scale(1.030);
}

.btn-insta {
    font-size: 1.6rem;
    background: #00000077;
    padding: 10px 15px;
    border: 2px solid #A2A2A2;
    border-radius: 10px;
    margin: 5px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    height: 58px;
    width: 60px;
}

.social_icon--link {
    color: #A2A2A2;
    transition: 0.4s ease;
}
.social_icon--link:hover {
    color: #ffa600;
    
}
.btn-insta:hover {
    transition: 0.8s ease;
    border: 2px solid #ffa600;
    transform: scale(1.030);
}





/* SECOND SECTION */
.section-2 {
    padding: 16vh 0;
    font-family: 'Ubuntu';
    transition: ease 0.8s;
    width: 100%;
   
}

.sobre-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 80px;
}

.main-sobre {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.sobre-content {
    font-size: 28px;
    margin-top: 10px;
    text-align: justify;
}



.btn-sobre {
    
    background: linear-gradient(90.52deg, #FF8A00 -15.14%, #D3A709 77.28%);
    margin-top: 20px;
    border:none;
    border-radius: 10px;
    font-family: 'Ubuntu';
    font-size: 1.3rem;
    width: 220px;
    height: 58px;
    cursor: pointer;
    font-weight: normal;
    transition: 0.8s ease-out;
        
    
}

.btn-sobre:hover {
    background: #ebebeb;
    transform: scale(1.073);
    transition: all 0.5s;
}



.img1 {
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin: 1px;
}

.img2 {
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin: 1px 1px;
}
.img3 {
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin: 1px 1px;
}

.img1:hover {
    transform: scale(1.073);
    transition: all 0.8s ;
}
.img2:hover {
    transform: scale(1.073);
    transition: all 0.8s ;
}
.img3:hover {
    transform: scale(1.073);
    transition: all 0.8s ;
}


@media screen and (max-width:1300px) {

    

    .sobre-container {
        display: inline-flex;
        flex-direction: row;
        
    }

    .img1 {
    
        width: 200px;
        height: 200px;
    }
    .img2 {
        
        width: 200px;
        height: 200px;
    }
    .img3 {
        
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width:1400px) {

    

    .sobre-container {
        display: inline-flex;
        flex-direction: row;
        
    }

    .img1 {
    
        width: 200px;
        height: 200px;
    }
    .img2 {
        
        width: 200px;
        height: 200px;
    }
    .img3 {
        
        width: 200px;
        height: 200px;
    }
}
  

.line-container {
    display: flex;
    justify-content: center;
    padding: 3vh 0 25vh;
    
}




.section-3 {
    transition: all 0.8s ease 0s;
    background: rgb(30, 30, 30);
    border-radius: 30px;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

@media screen and (max-width:1300px) {
    
    .img-contato {
        width: 400px;
        height: 400px;
        
    }

}

.contato-container {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    
    align-items: center;
}

.line {
    width: 2px;
    height: 100px;
    background: linear-gradient(180deg,#ffa600,rgba(153,109,255,0));
}


.contato-content {
    margin: 20px;
    margin-top: 50px;
}

.title-content {
    background: linear-gradient(90.52deg, #FF8A00 -15.14%, #D3A709 77.28%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.text-content {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    justify-content: center;
    margin-top: 10px;
}

.btn-planos {
    background: linear-gradient(90.52deg, #FF8A00 -15.14%, #D3A709 77.28%);
    margin-top: 20px;
    border:none;
    border-radius: 10px;
    font-family: 'Ubuntu';
    font-size: 1.3rem;
    width: 220px;
    height: 58px;
    cursor: pointer;
    font-weight: normal;
    transition: 0.8s ease-out;
    
}

.btn-planos:hover {
    background: #000000;
    transform: scale(1.073);
    transition: all 0.5s ;
    color: #ebebeb;
    
}

.img-contato {
    border-radius: 10px;
    margin: 10px;
}

.line-container-2 {
    display: flex;
    justify-content: center;
    padding: 15vh 0 20vh;
    
}




.container-carrossel {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    flex-direction: column;
    margin-bottom: 5rem;
}


.container-title-carrossel {
    align-items: center;
}

.title-container {
    align-items: center;
}

.title-carrossel {
    background: linear-gradient(90.52deg, #FF8A00 -15.14%, #D3A709 77.28%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}


input[type=radio]{
    display: none;
}

.img-carrossel {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.img-carrossel-1 {
    width: 100%;
    height: 100%;
    background: white;
    display: grid;    
}
.img-carrossel-2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(90.52deg, #FF8A00 -15.14%, #D3A709 77.28%);
    display: grid;    
}
.img-carrossel-3 {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    display: grid;    
}


.title-card {
   color: #252525; 
   font-size: 1.7rem;
   padding: 20px;
}

.subtitle-card {
    color: #636060;
    font-size: 1.5rem;
}

.list-card {
    color: #636060;
    text-align: initial;
    margin: 20px;
}

.btn-cards {
    background: #161616;
    color: #ebebeb;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Ubuntu';
    font-size: 1.3rem;
    width: 230px;
    height: 73px;
    cursor: pointer;
    font-weight: normal;
    transition: 0.8s ease-out;
    margin: 61px;
}

.card-carrossel {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 130%;
    right: 0%;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease;
    align-items: center;
    text-align: center;
   
}



.cards {
    height: 100%;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width:1400px) {
    .container-carrossel {
        align-items: center;
        width: 68%;
        height: 90%;
        max-width: 600px;
        max-height: 600px;
        display: flex;
        transform-style: preserve-3d;
        flex-direction: column;
        margin-bottom: 5rem;
        margin-left: -65px;
    }

    .img-carrossel-1 {
        width: 140%;
        height: 100%;
        background: white;
        display: grid;
        
    }
    .img-carrossel-2 {
        width: 140%;
        height: 100%;
        background: linear-gradient(90.52deg, #FF8A00 -15.14%, #D3A709 77.28%);
        display: grid;
        
    }
    .img-carrossel-3 {
        width: 140%;
        height: 100%;
        background: rgb(0, 0, 0);
        display: grid;
        
    }

    .btn-cards {
        margin-left: 15%;
    }
}

.btn-galery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 24px; */
    margin-left: 130%;
    text-align: center;
}

.footer-container {
    background: #161616;
    width: 100%;
    height: 15%;
}



